@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');
body{
    margin: 0;
    background-color: black;
    color: white;
}.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
}
.navbar-left{
    padding-left: 50px;
    height:50px;
}
.logo-image{
    height: 67px;
}
.navbar-right{
    padding-right: 20px;
    display:flex;
    flex-direction: row;
    align-items:center;
    color: aliceblue;
}
.navbar-right :hover{
color: green;
}
.a-element{
    padding:10px;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: cadetblue;
}
.home{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    height: 85vh;

}
.home-left{
    width: 50vw;
    text-align: right;
    padding-left: 200px;
    color: aliceblue;
}
.home-right{
    width: 50vw;
    padding-left: 100px;
}
.img{
    height:250px; 
    width: 250px;
}
.homeh1{
    font-family: "Poppins", sans-serif;
font-size: 25px;
}
.homep{
       font-family: "Encode Sans", sans-serif;
    font-size: 20px;
}
.career{
    padding: 50px;
    text-align: center;
}
.career-h1{
    font-family: "Ubuntu Sans", sans-serif;
    color: rgb(5, 128, 5);
    letter-spacing: 3px;
    font-size: 50px;
    font-style: italic;

}
.career-sub-cont{
    display: flex;
    flex-direction: row ;
}
.career-card{
      border: 2px rgb(12, 103, 12) solid;
     margin: 20px;
     padding: 20px;
     width: 400px;
}
.cc-h1{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}
.cc-p{
    font-family: "Encode Sans", sans-serif;
    font-size: 20px;
}
.cr-h2{
    color:aliceblue;
  }
  .career-card2{
    border:2px blue solid;
    margin:37px;
    padding: 4px;

}
  .career-sub-cont2{
    margin: 8px;
    font-size:10px;
    display: flex;
    flex-direction:row;
  }
  .career2{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:blue;
    letter-spacing: 3px;
    font-size: 25px;
    font-style: italic;

  }
.contact{
    text-align: center;
}
.contact-info{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}
.social-media-icon{
    height: 50px;
    padding: 20px;

}
.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .img{
    border: 4px blue solid;
  }
  .career-sub-cont2{
    padding-left: 90px;
  }