@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Encode+Sans:wght@100..900&display=swap');
body{
    margin:0;
    background-color: black;
    color: white;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color:rgb(19, 11, 184);
}
.navbar-left{
    padding-left:30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-right{
    padding-right:20px ;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.a-element{
color:white;
padding:10px;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 20px;
font-weight: bold;
}
.home{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height:85vh;
    

}
.home-left{
    color:blue;
    width: 50vw;
    padding-left: 20px;
   
}
.home-right{
    
    width:50vw;
    padding-right: 20px;
}

.home-p{
    color: aliceblue;
    font-family: "Encode Sans Semi Condensed", sans-serif;
    font-size: 2opx;
}
.career{
    padding-left:50px;
    text-align: center;
}
.car-h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:blue;
    letter-spacing: 3px;
    font-size: 50px;
    font-style: italic;
}
.career-sub-cont{
    margin: 3px;
    font-size:10px;
    display: flex;
    flex-direction:row;
}
.career-card{
    border:2px blue solid;
    margin:20px;
}
.cr-h1{
    color: aliceblue;
    font-size: 20px;
}
.cr-p{
    color: aliceblue;
    font-size: 10px;
    font-weight: bold;
    padding: 20px;
}
.contact{
    text-align: center;
}
.contact-info{
    color: aliceblue;
    font-size: 20px;
}
.social-icon-img{
    height:50px;
    padding-bottom: 6px;
}
.social-icon-img2{
    height:50px;
    padding-bottom: 6px;
}
.social-icon-img3{
    height:50px;
    padding-bottom: 5px;

}
.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .cr-h2{
    color:aliceblue;
  }
  .career-card2{
    border:2px blue solid;
    margin:37px;
    padding: 4px;
}
  .career-sub-cont2{
    margin: 8px;
    font-size:10px;
    display: flex;
    flex-direction:row;
  }
  .career2{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:blue;
    letter-spacing: 3px;
    font-size: 25px;
    font-style: italic;
  }